@import 'tailwindcss';

:root {
  --bg: #f8fafc;
  --text: #0f172a;
}

/* Tailwind CSS Directives */

@theme {
  /* Custom */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
  background: var(--bg);
  color: var(--text);
}
